body{
	background-color: #B88E8D;
	padding: 150px;
	font-family: 'Nunito Sans', sans-serif;
}

h1 {
	color: #6D120D;
	text-align: center;
}

h2 {
	color: #A51C12;
	text-align: center;
}

p {
	text-align: center;
}

img{
	width: 300px;
	height: 300px;
	object-fit: cover;
}


.big-size {
	width: 700px;
	height: 700px;
	object-fit: cover;
	padding: 50px;
}

.medium-size {
	width: 900px;
	height: 693px;
	object-fit: cover;
}

.small-size {
	width: 30%;
	height: 300px;
	object-fit: cover;
}


.elements-center {
	text-align: center;
}

div {
	background-color: #D8C1C0;
}

.padding {
	padding: 50px;
}

.border {
	border-top: 10px solid floralwhite;
	border-left: 10px solid floralwhite;
	border-right: 10px solid floralwhite;
}

.border-total {
	border: 10px solid floralwhite;
}

.elements-aligned {
	display: flex;
	justify-content: space-around;
}


.navigation-aligned {
	display: flex;
	justify-content: space-around;
}


a {
	color: darkred;
	text-decoration: none;
}

a:hover {
	color: red;
	font-size: 20px;
}














